@font-face {
  font-family: Chivo;
  src: url('font/Chivo.ttf');
}

body {
  margin: 0;
  background: #C8C0C1;
  display: flex;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.panel {
  border: 5px solid #000;
  cursor: url("img/ball2.cur"), auto;
  transition: 0.3s;
}

.noBord {
  border: none;
}


.bordPad {
  padding-left: 6px;
  padding-top: 5px;
}

.bordCorn {
  border-block-end: solid;
  writing-mode: horizontal-tb;
  border-top: 10px solid #000;
  border-left: 10px solid #000;
  border-right: none;
  border-bottom: none;
}

.textContainer {
  position: fixed;
  top: 25vh;
  left: 0px;
  width: 32vw;
  height: 18vh;
  background: transparent;
  box-sizing: border-box;
  display: none;
  align-items: center;
  justify-content: center;


}


.storyText {
  background: #a38b93;
  padding: 2vmin 6vmin;
  color: #000;
  font-family: "Chivo";
  font-size: 24px;
  line-height: 38px;
  text-align: justify;
  vertical-align: middle;
  max-height: 17vh;
  overflow: hidden;
  border: 5px solid #000;
  box-shadow: 5px 5px #000;

}


#wrapper {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-gap: .75rem .85rem;
  grid-template-columns: repeat(12, 1fr);
}


.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s ease-in;
  /* filter: blur(1px); */

}

.panel img:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(0px); */
}

.arrowActive {
  box-shadow: 5px 5px #000;
}

.arrowActive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px);
}

.noHov img {
  filter: blur(0px);
}

.panel>div {
  width: 20px;
  height: 20px;
  background: #000;
  margin: 20px;
}

.e1 {
  grid-column: 4/5;
}

.e2 {
  grid-column: 8/9;
}

.e3 {
  grid-column: 9/10;
}

.p0 {
  grid-row: 1;
  grid-column: 5/8;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.p1 {
  grid-row: 2/3;
  grid-column: 4/8;
}

.p1txt {
  grid-row: 1/3;
  grid-column: 1/4;
}

.p2 {
  grid-row: 2/3;
  grid-column: 8/10;
}

.p2txt {
  grid-row: 1/3;
  grid-column: 10/13;
}


.t3-l {
  grid-row: 1/2;
  grid-column: 1/4;
}

.t3-r {
  grid-row: 1/2;
  grid-column: 10/13;
}

.p3 {
  grid-row: 2;
  grid-column: 4/10;
}
.p3txt {
  grid-row: 2;
  grid-column: 2/4;
}

.p4 {
  grid-row: 3;
  grid-column: 4/5;
}
.p4txt {
  grid-row: 3;
  grid-column: 2/4;
}


.p5 {
  grid-row: 3;
  grid-column: 5/6;
}
.p5txt {
  grid-row: 3;
  grid-column: 2/4;
}

.p6 {
  grid-row: 3;
  grid-column: 6/7;
}
.p6txt {
  grid-row: 3;
  grid-column: 2/4;
}

.p7 {
  grid-row: 3;
  grid-column: 7/10;
}
.p7txt {
  grid-row: 3;
  grid-column: 10/12;
}


.p8 {
  grid-row: 1/2;
  grid-column: 4/6;
  align-self: center;
}

.p8txt {
  grid-row: 1/3;
  grid-column: 1/4;
}


.p9 {
  grid-row: 1/2;
  grid-column: 6/10;
}

.p9txt {
  grid-row: 1/3;
  grid-column: 10/13;
}

.p10 {
  grid-row: 2/3;
  grid-column: 4/10;
}

.p10txt {
  grid-row: 1/3;
  grid-column: 1/4;
}

.p11 {
  grid-row: 1/2;
  grid-column: 4/6;
}

.p11txt {
  grid-row: 1/3;
  grid-column: 1/4;
}

.p12 {
  grid-row: 1/2;
  grid-column: 6/10;
}
.p12txt {
  grid-row: 1/3;
  grid-column: 10/13;
}

.p13 {
  grid-row: 2/3;
  grid-column: 4/7;
}
.p13txt {
  grid-row: 1/3;
  grid-column: 1/4;
}

.p14 {
  grid-row: 2/3;
  grid-column: 7/10;
}

.p15 {
  grid-row: 1/2;
  grid-column: 4/6;
}

.p16 {
  grid-row: 1/2;
  grid-column: 6/10;
}

.p17 {
  grid-row: 1/2;
  grid-column: 4/10;
}

.p18 {
  grid-row: 2/3;
  grid-column: 4/10;
}

.p19 {
  grid-row: 1 / 4;
  grid-column: 4/6;
}

.p20 {
  grid-row: 1;
  grid-column: 6/10;
}

.p21 {
  grid-row: 2;
  grid-column: 6/10;
}

.p22 {
  grid-row: 3;
  grid-column: 6/10;
}

.p23 {
  grid-row: 1 / 2;
  grid-column: 4/10;
}

.p24 {
  grid-row: 2 / 3;
  grid-column: 4/7;
}

.p25 {
  grid-row: 2 / 3;
  grid-column: 7/10;
}

.p26 {
  grid-row: 3 / 4;
  grid-column: 4/10;
}

.p27 {
  grid-row: 1 / 2;
  grid-column: 4/7;
}

.p28 {
  grid-row: 1 / 2;
  grid-column: 7/10;
}

.p29 {
  grid-row: 2 / 3;
  grid-column: 4/10;
}

.p30 {
  grid-row: 1 / 2;
  grid-column: 4/10;
}

.p31 {
  grid-row: 2 / 3;
  grid-column: 4/6;
}

.p32 {
  grid-row: 2 / 3;
  grid-column: 6/8;
}

.p33 {
  grid-row: 2 / 3;
  grid-column: 8/10;
}

.p34 {
  grid-row: 1 / 2;
  grid-column: 4/10;
}

.p35 {
  grid-row: 2 / 3;
  grid-column: 4/7;
}

.p36 {
  grid-row: 2 / 3;
  grid-column: 7/10;
}

.ptbc {
  grid-row: 1 / 2;
  grid-column: 4/10;
}