/* @media only screen and (max-width: 1400px) {
  .p9txt {
    padding: 10px !important;
  }
}  */

@font-face {
  font-family: Chivo;
  src: url('font/Chivo.ttf');
}

body {
  margin: 0;
  background: #C8C0C1;
  display: flex;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.panel {
  border: .15vmax solid #000;
  cursor: url("img/ball2.cur"), auto;
  transition: 0.3s;
}

.noBord {
  border: none;
}


.textContainer {
  position: fixed;
  top: 25vh;
  left: 0px;
  width: 32vw;
  height: 18vh;
  background: transparent;
  box-sizing: border-box;
  display: none;
  align-items: center;
  justify-content: center;


}


.storyText {
  background: #a38b93;
  padding: 2vmin 6vmin;
  color: #000;
  font-family: "Chivo";
  font-size: 24px;
  line-height: 38px;
  text-align: justify;
  vertical-align: middle;
  max-height: 17vh;
  overflow: hidden;
  border: 5px solid #000;
  box-shadow: 5px 5px #000;

}


#wrapper {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}

.layout {
  display: grid;
  grid-gap: .55vmax;
  grid-template-columns: repeat(24, minmax(0, 1fr));
}


.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s ease-in;
  /* filter: blur(1px); */

}

.panel img:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(0px); */
}

.arrowActive {
  box-shadow: 5px 5px #000;
}

.arrowActive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px);
}

.noHov img {
  filter: blur(0px);
}

.panel>div {
  width: .75vmax;
  height: .75vmax;
  background: #000;
  margin: .75vw;
}

.e1 {
  grid-row: 1/2;
  grid-column: 7/9;
}

.e2 {
  grid-row: 1/2;
  grid-column: 15/17;
}

.e3 {
  grid-row: 1/2;
  grid-column: 17/19;
}

.p0 {
  grid-row: 1/2;
  grid-column: 9/15;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  align-self: center;
}

.p0txt1 {
  grid-row: 1/3;
  grid-column: 2/6;
  align-self: center;
}

.p0txt2 {
  grid-row: 1/3;
  grid-column: 20/23;
  align-self: center;
}

.p0txt3 {
  grid-row: 1/3;
  grid-column: 20/23;
  align-self: center;
}

.p0txt4 {
  grid-row: 1/3;
  grid-column: 20/23;
  align-self: center;
}


.p1 {
  grid-row: 2/3;
  grid-column: 7/15;
}

.p1txt {
  grid-row: 1/3;
  grid-column: 2/6;
  /* padding:100px; */
  align-self: center;
}

.p2 {
  grid-row: 2/3;
  grid-column: 15/19;
}

.p2txt {
  grid-row: 2/3;
  grid-column: 20/24;
  align-self: center;
}


.p3 {
  grid-row: 2/3;
  grid-column: 7/19;
}

.p3txt {
  grid-row: 2/3;
  grid-column: 2/6;
  align-self: center;  
}

.p4 {
  grid-row: 3/4;
  grid-column: 7/9;
}

.p4txt {
  grid-row: 3/4;
  grid-column: 2/4;
  align-self: top;
}


.p5 {
  grid-row: 3/4;
  grid-column: 9/11;
}

.p5txt {
  grid-row: 3/4;
  grid-column: 3/6;
  align-self: center;
}

.p6 {
  grid-row: 3/4;
  grid-column: 11/13;
}

.p6txt {
  grid-row: 2/4;
  grid-column: 4/8;
  align-self: end;

}

.p7 {
  grid-row: 3/4;
  grid-column: 13/19;
}

.p7txt {
  grid-row: 3/4;
  grid-column: 20/23;
  align-self: center;

}


.p8 {
  grid-row: 1/2;
  grid-column: 7/11;
  align-self: center;
}

.p8txt {
  grid-row: 1/4;
  grid-column: 2/6;
  padding-top: 100px;
}


.p9 {
  grid-row: 1/2;
  grid-column: 11/19;
}

.p9txt {
  grid-row: 1/4;
  grid-column: 20/24;
  align-self: center;
}

.p10 {
  grid-row: 2/3;
  grid-column: 7/19;
}

.p10txt {
  grid-row: 1/4;
  grid-column: 2/6;
  align-self: center;
}

.p11 {
  grid-row: 1/2;
  grid-column: 7/11;
  
}

.p11txt {
  grid-row: 1/2;
  grid-column: 2/6;
  align-self: center;

}

.p12 {
  grid-row: 1/2;
  grid-column: 11/19;
}

.p12txt {
  grid-row: 1/2;
  grid-column: 20/23;
  align-self: center;
}

.p13 {
  grid-row: 2/3;
  grid-column: 7/13;
}

.p13txt {
  grid-row: 1/3;
  grid-column: 2/6;
  align-self: center;

}

.p14 {
  grid-row: 2/3;
  grid-column: 13/19;
}

.p14txt {
  grid-row: 1/3;
  grid-column: 20/23;
  align-self: center;

}

.p15 {
  grid-row: 1/2;
  grid-column: 5/9;
}

.p15txt {
  grid-row: 1/2;
  grid-column: 18/21;
  align-self: center;
}

.p16 {
  grid-row: 1/2;
  grid-column: 9/17;
}

.p16txt {
  grid-row: 1/2;
  grid-column: 20/22;
  align-self: center;

}

.p17 {
  grid-row: 1/2;
  grid-column: 7/19;
}

.p17txt {
  grid-row: 1/3;
  grid-column: 3/6;
  align-self: end;

}

.p18 {
  grid-row: 2/3;
  grid-column: 7/19;
}

.p18txt {
  grid-row: 1/4;
  grid-column: 3/6;
  align-self: center;

}

.p19 {
  grid-row: 1 / 4;
  grid-column: 7/10;
}

.p19txt {
  grid-row: 1 / 2;
  grid-column: 20/24;
  align-self: center;

}

.p20 {
  grid-row: 1 / 2;
  grid-column: 10/19;
}

.p20txt {
  grid-row: 1 / 4;
  grid-column: 20/24;
  align-self: center;
}


.p21 {
  grid-row: 2 / 3;
  grid-column: 10/19;
}

.p21txt {
  grid-row: 1 / 4;
  grid-column: 20/23;
  align-self: center;
}

.p22 {
  grid-row: 3 / 4;
  grid-column: 10/19;
}

.p22txt {
  grid-row: 1/4;
  grid-column: 3/6;
  align-self: center;
}


.p23 {
  grid-row: 1 / 2;
  grid-column: 7/19;
}

.p23txt {
  grid-row: 1/4;
  grid-column: 2/6;
  align-self: center;
}

.p24 {
  grid-row: 2 / 3;
  grid-column: 7/13;
}

.p24txt {
  grid-row: 1/4;
  grid-column: 20/24;
  align-self: center;
}

.p25 {
  grid-row: 2 / 3;
  grid-column: 13/19;
}

.p25txt {
  grid-row: 1/4;
  grid-column: 2/6;
  align-self: center;
}

.p26 {
  grid-row: 3 / 4;
  grid-column: 7/19;
}
.p26txt {
  grid-row: 1/2;
  grid-column: 2/6;
  align-self: center;
}

.p27 {
  grid-row: 1 / 2;
  grid-column: 7/13;
}

.p27txt {
  grid-row: 1/2;
  grid-column: 20/23;
  align-self: center;
}

.p28 {
  grid-row: 1 / 2;
  grid-column: 13/19;
}

.p28txt {
  grid-row: 1/4;
  grid-column: 2/6;
  align-self: center;
}

.p29 {
  grid-row: 2 / 3;
  grid-column: 7/19;
}

.p29txt1 {
  grid-row: 1/2;
  grid-column: 7/19;
  padding: 80px 0px;
}

.p29txt2 {
  grid-row: 1/3;
  grid-column: 20/23;
  align-self: end;
}

.p30 {
  grid-row: 2 / 3;
  grid-column: 7/19;
}

.p30txt {
  grid-row: 1 / 4;
  grid-column: 3/6;
  align-self: end;

}

.p31 {
  grid-row: 3 / 4;
  grid-column: 7/11;
}

.p31txt{
  grid-row: 1/4;
  grid-column: 20/23;
  align-self: end;
}

.p32 {
  grid-row: 3 / 4;
  grid-column: 11/15;
}

.p32txt{
  grid-row: 1/4;
  grid-column: 20/23;
  align-self: end;
}

.p33 {
  grid-row: 3 / 4;
  grid-column: 15/19;
}

.p33txt {
  grid-row: 1 / 4;
  grid-column: 3/6;
  align-self: center;

}

.p34 {
  grid-row: 1 / 2;
  grid-column: 7/19;
}

.p34txt{
  grid-row: 2/4;
  grid-column: 20/23;
  align-self: center;
}

.p35 {
  grid-row: 2 / 3;
  grid-column: 7/12;
}

.p36 {
  grid-row: 2 / 3;
  grid-column: 12/19;
}

.ptbc {
  grid-row: 1 / 2;
  grid-column: 7/19;
}