@font-face {
  font-family: Chivo;
  src: url('/fonts/Chivo.ttf');
}

body {
  margin: 0;
  background: #C8C0C1;
  /* margin-bottom: 15vh; */
}

img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.panel {
  border: 5px solid #000;
  cursor: url("img/ball2.cur"), auto;
  transition: 0.3s;
}

div.panel:hover {
  box-shadow: 5px 5px #000;
}


.noBord {
  border: none;
}


.bordPad {
  padding-left: 6px;
  padding-top: 5px;
}

.bordCorn {
  border-block-end: solid;
  writing-mode: horizontal-tb;
  border-top: 10px solid #000;
  border-left: 10px solid #000;
  border-right: none;
  border-bottom: none;
}

.textContainer {
  position: fixed;
  top: 15vh;
  left: 0px;
  width: 32vw;
  height: 18vh;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;


}


.storyText {
  background: #a38b93;
  padding: 2vmin 6vmin;
  color: #000;
  font-family: "Chivo";
  font-size: 24px;
  line-height: 38px;
  text-align: justify;
  vertical-align: middle;
  max-height: 17vh;
  overflow: hidden;
  border: 5px solid #000;
  box-shadow: 5px 5px #000;

}


#wrapper {
  /* padding: 1vh 25vw; */
  width: 100%;
  max-width: 53vw;
  ;
  margin: 0 auto;
}

.layout {
  padding: 60px;
  display: grid;
  grid-gap: .75rem .85rem;
  grid-template-columns: repeat(6, 1fr);


}


.panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .2s ease-in;
  filter: blur(1px);

}

.panel img:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px);
}

.arrowActive {
  box-shadow: 5px 5px #000;
}

.arrowActive img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0px);
}

.noHov img {
  filter: blur(0px) ;
}
.panel>div {
  width: 20px;
  height: 20px;
  background: #000;
  margin: 20px;
}

.p0 {
  grid-row: 1;
  grid-column: 2 / 5;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.p1 {
  grid-row: 2 / 3;
  grid-column: 1 / 5;
}

.p2 {
  grid-row: 2 / 3;
  grid-column: 5 / 7;
}

.p3 {
  grid-row: 1 / 3;
  grid-column: 1 / 7;
}

.p4 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.p5 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.p6 {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

.p7 {
  grid-row: 4 / 5;
  grid-column: 4 / 7;
}

.p8 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  align-self: center;
}

.p9 {
  grid-row: 1 / 2;
  grid-column: 3 / 7;
}

.p10 {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
}

.p11 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.p12 {
  grid-row: 1 / 2;
  grid-column: 3 / 7;
}

.p13 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.p14 {
  grid-row: 2 / 3;
  grid-column: 4 / 7;
}

.p15 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.p16 {
  grid-row: 1 / 2;
  grid-column: 3 / 7;
}

.p17 {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
}

.p18 {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
}

.p19 {
  grid-row: 1 / 4;
  grid-column: 1 / 3;
}

.p20 {
  grid-row: 1;
  grid-column: 3 / 7;
}

.p21 {
  grid-row: 2;
  grid-column: 3 / 7;
}

.p22 {
  grid-row: 3;
  grid-column: 3 / 7;
}

.p23 {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
}

.p24 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.p25 {
  grid-row: 2 / 3;
  grid-column: 4 / 7;
}

.p26 {
  grid-row: 3 / 4;
  grid-column: 1 / 7;
}

.p27 {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.p28 {
  grid-row: 1 / 2;
  grid-column: 4 / 7;
}

.p29 {
  grid-row: 2 / 3;
  grid-column: 1 / 7;
}

.p30 {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
}

.p31 {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.p32 {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.p33 {
  grid-row: 2 / 3;
  grid-column: 5 / 7;
}

.p34 {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
}

.p35 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.p36 {
  grid-row: 2 / 3;
  grid-column: 4 / 7;
}

.ptbc {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
}