@font-face {
  font-family: Chivo;
  src: url(fonts/Chivo.ttf);
}

body {
    margin: 0;
    background: #C8C0C1;
    margin-bottom: 15vh;
}
img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
}
.panel {
    border: 5px solid #000;
    cursor: cell;
}
.noBord {
    border: none;
}
.bordPad {
    padding-left: 6px;
    padding-top: 5px;
}
.bordCorn{
  border-block-end: solid; 
  writing-mode: horizontal-tb;
  border-top: 10px solid #000;
  border-left: 10px solid #000;
  border-right: none;
  border-bottom: none;
}

.textContainer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 20vh;
  background: #C8C0C1;
  border-top: 5px solid #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

}
.storyText {
 background: #C8C0C1;
 padding: 4vmin 8vmin;
 color: #000;
 font-family: "Chivo";
 font-size: 2vmin;
 line-height: 2.5vmin;
 text-align: justify;
 vertical-align: middle;
 max-height: 17vh;
 overflow: hidden;
 
}


#wrapper {
    padding: 5vmin;
}

.layout{
    padding: 20px;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(6, 1fr);
  }

.panel > div{
    width:20px;
    height:20px;
    background: #000;
    margin: 20px;
}
  .p0{
    grid-row: 1;
    grid-column: 2 / 5;
    display:flex;
    padding-top: 50px;
    padding-bottom:50px;
    }
  .p1{
    grid-row: 2 / 3;
    grid-column: 1 / 5;
  }
  .p2{
    grid-row: 2 / 3;
    grid-column: 5 / 7;
  }
  .p3{
    grid-row: 3 / 5;
    grid-column: 1 / 7;
  }
  .p4{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }
  .p5{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }
  .p6{
    grid-row: 5 / 6;
    grid-column: 3 / 4;
  }
  .p7{
    grid-row: 5 / 6;
    grid-column: 4 / 7;
  }
  .p8{
    grid-row: 6 / 7;
    grid-column: 1 / 3;
    align-self: center;
  }
  .p9{
    grid-row: 6 / 7;
    grid-column: 3 / 7;
  }
  .p10{
    grid-row: 7 / 8;
    grid-column: 1 / 7;
  }
  .p11{
    grid-row: 8 / 9;
    grid-column: 1 / 3;
  }
  .p12{
    grid-row: 8 / 9;
    grid-column: 3 / 7;
  }
  .p13{
    grid-row: 9 / 10 ;
    grid-column: 1 / 4;
  }
  .p14{
    grid-row: 9 / 10 ;
    grid-column: 4 / 7;
  }
  .p15t{
    grid-row: 10 / 11 ;
    grid-column: 1 / 3;
  }
  .p15{
    grid-row: 10 / 11 ;
    grid-column: 3 / 7;
  }
  .p16{
    grid-row: 11 / 12 ;
    grid-column: 1 / 7;
  }
  .p17{
    grid-row: 12 / 13 ;
    grid-column: 1 / 7;
  }
  .p18{
    grid-row: 13 / 16 ;
    grid-column: 1 / 3;
  }
  .p19{
    grid-row: 13 / 14;
    grid-column: 3 / 7;
  }
  .p20{
    grid-row: 14 / 15;
    grid-column: 3 / 7;
  }
  .p21{
    grid-row: 15 / 16;
    grid-column: 3 / 7;
  }
  .p22{
    grid-row: 16 / 17;
    grid-column: 1 / 7;
  }
  .p23{
    grid-row: 17 / 18;
    grid-column: 1 / 4;
  }
  .p24{
    grid-row: 17 / 18;
    grid-column: 4 / 7;
  }
  .p25{
    grid-row: 18 / 19;
    grid-column: 1 / 7;
  }
  .p26{
    grid-row: 19 / 20;
    grid-column: 1 / 4;
  }
  .p27{
    grid-row: 19 / 20;
    grid-column: 4 / 7;
  }
  .p28{
    grid-row: 20 / 21;
    grid-column: 1 / 7;
  }
  .p29{
    grid-row: 21 / 22;
    grid-column: 1 / 7;
  }
  .p30{
    grid-row: 22 / 23;
    grid-column: 1 / 3;
  }
  .p31{
    grid-row: 22 / 23;
    grid-column: 3 / 5;
  }
  .p32{
    grid-row: 22 / 23;
    grid-column: 5 / 7;
  }
  .p33{
    grid-row: 23 / 24;
    grid-column: 1 / 7;
  }
  .p34{
    grid-row: 24 / 25;
    grid-column: 1 / 4;
  }
  .p35{
    grid-row: 24 / 25;
    grid-column: 4 / 7;
  }
  .ptbc{
    grid-row: 25 / 26;
    grid-column: 1 / 7;
  }
